node_modules/
dist/
data/
.env
*.db
*.db-journal
*.db-wal
*.db-shm
*.tsbuildinfo
coverage/

# .http files for testing api
.api-requests/

# Emacs and Org-mode temporary files
.\#*
\#*#
*~
.org-id-locations
*_archive