[Unit]
Description=HTTP-сервер управления репозиториями системных пакетных менеджеров
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/watermelon-server
ExecStart=/usr/bin/env watermelon-server 
Restart=on-failure



[Install]